/* reseting default styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* main styles */

body {
  font-family: "Noto Sans Display", sans-serif;
  background-color: #c4c4c4;
}

.product-card-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 7rem auto;
  width: 1440px;
  height: 1074px;
}

/* left container (upper) */

.product-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}

#product {
  margin: auto;
  width: 457px;
  height: 533px;
}

/* rightn side (down) */

.content {
  margin: 15% 10%;
}

.product-container,
.product-description {
  width: 720px;
  height: 1074px;
}

.product-description {
  color: #ffffff;
  background-color: #2d2e32;
}

.product-category {
  margin: 2rem 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  color: #edc42c;
}

.heading {
  margin: 2rem 0;
  font-size: 46px;
  line-height: 46px;
  font-weight: 700;
}

.description {
  margin: 2rem 0;
  font-size: 32px;
  font-style: italic;
  color: #c4c4c4;
}

.price {
  font-size: 52px;
  font-weight: 500;
}

.price-rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-info-navigation-bar {
  margin: 3rem 0 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

.product-info-navigation-bar :first-child {
  border-bottom: solid #edc42c;
}

.nav-element {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  border-bottom: solid #c4c4c4;
}

.options-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  color: #c4c4c4;
}

.quantity {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information {
  margin: 2rem 0;
  font-size: 26px;
  font-weight: 500;
  color: #c4c4c4;
}

#more {
  text-decoration: none;
  color: #edc42c;
}

.color {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.color :first-child {
  font-size: 26px;
}

.color-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 60px;
  border-radius: 50px;
  background-color: #26272a;
}

.color-cont input {
  margin: 0.25rem 1.5rem;
  width: 50px;
  height: 50px;
  background-color: #26272a;
  border: none;
}

.color-cont input::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}

.color-cont input:hover {
  cursor: pointer;
}

.quantity :first-child {
  font-size: 26px;
}

.quantity-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 150px;
  height: 60px;
  border-radius: 50px;
  background-color: #26272a;
}

#increase,
#amount,
#decrease {
  font-size: 26px;
}

.total-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.total-price :first-child {
  font-size: 26px;
}

.total-price-cont {
  width: 150px;
  height: 60px;
  border-radius: 50px;
  background-color: #26272a;
}

#price {
  margin: 0.5rem 2.7rem;
  font-size: 28px;
  font-weight: 400;
}

.buy-buttons {
  margin: 2rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  transition-property: all;
  transition-duration: 0.5s;
}

.buy-buttons :hover {
  cursor: pointer;
  opacity: 0.7;
}

#add_wishlist {
  width: 570px;
  height: 70px;
  border-radius: 50px;
  background-color: #2d2e32;
  border: solid #ffffff;
  font-size: 26px;
  color: #ffffff;
  transition-property: all;
  transition-duration: 0.5s;
}

#add_wishlist:active {
  background-color: #ffffff;
  border: solid #ffffff;
  color: #2d2e32;
}

#add_cart {
  margin: 1rem 0;
  width: 570px;
  height: 70px;
  border-radius: 50px;
  border: none;
  background-color: #edc42c;
  font-size: 26px;
  font-weight: 700;
  color: #2d2e32;
  transition-property: all;
  transition-duration: 0.5s;
}

#add_cart:active {
  opacity: 0.55;
}

/* media queries */

@media (max-width: 1060px) {
  .product-card-container {
    flex-direction: column;
    margin: 0;
    width: 100vw;
    height: 100vh;
  }
  .product-container,
  .product-description {
    width: 100vw;
    height: auto;
  }
  #product {
    margin: 1rem auto 0;
  }
  .product-description {
    height: auto;
  }
  .counter {
    padding: 3rem 0;
  }
  .product-container {
    padding: 5% 0;
  }
  #add_wishlist,
  #add_cart {
    margin: 1rem auto;
    width: 70vw;
  }
}

@media (max-width: 580px) {
  #product {
    width: 207px;
    height: 283px;
  }
  .heading {
    font-size: 30px;
    line-height: 30px;
  }
  .description {
    margin: 1rem 0;
    font-size: 25px;
  }
  .price {
    font-size: 35px;
  }
  .nav-element {
    font-size: 20px;
    line-height: 26px;
  }
  .color-cont {
    width: 60px;
    height: 40px;
  }
  .color-cont input {
    margin: auto;
    width: 30px;
    height: 30px;
  }
  #decrease,
  #amount,
  #increase {
    font-size: 20px;
  }
  .quantity-cont,
  .total-price-cont {
    width: 100px;
    height: 40px;
  }
  #price {
    font-size: 20px;
    margin: 0.4rem 1.5rem;
  }
  .color :first-child,
  .quantity :first-child,
  .total-price :first-child {
    font-size: 23px;
  }
  #add_wishlist,
  #add_cart {
    margin: 0.5rem auto;
    width: 300px;
    height: 40px;
    font-size: 20px;
  }
}

@media (max-width: 450px) {
  .product-info-navigation-bar {
    flex-direction: column;
  }
  .information {
    font-size: 20px;
  }
  .color :first-child,
  .quantity :first-child,
  .total-price :first-child {
    font-size: 16px;
  }
  .color,
  .quantity,
  .total-price {
    margin: 0.5rem 0;
  }
  #add_wishlist,
  #add_cart {
    margin: 0.5rem auto;
    width: 200px;
    height: 40px;
    font-size: 16px;
  }
}

@media (max-width: 330px) {
  .color-cont {
    width: 40px;
    height: 30px;
  }
  .color-cont input {
    width: 20px;
    height: 20px;
  }
  .quantity-cont,
  .total-price-cont {
    width: 80px;
    height: 30px;
  }
  #price {
    font-size: 20px;
    margin: 0 1rem;
  }
  .buy-buttons {
    margin: 0;
  }
}
