/* reseting default styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* main styles */

body {
  font-family: "Noto Sans Display", sans-serif;
  background-color: #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 1074px;
}

/* left container (upper) */

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}

#product {
  margin: auto;
  width: 457px;
  height: 533px;
}

.counter {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 100px;
  height: 25px;
}

.counter > :first-child {
  background-color: #edc42c;
}

.circle {
  width: 25px;
  height: 25px;
  background-color: #c4c4c4;
  border-radius: 50%;
}

/* rightn side (down) */

.product-container,
.product-description {
  width: 720px;
  height: 1074px;
}

.product-description {
  color: #ffffff;
  background-color: #2d2e32;
}
